.transparan {
	background: rgba(0,0,0,0.5);
}

.transparan-putih {
	background: rgba(255,255,255,0.8);
}

.tengah {
	margin-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
}

.border {
	border-radius: 10px;
}