.biru {
   background-color: #9dcde9 !important;
}

.text-putih {
  color: #FFFFFF !important;
}

.header {
   background-color: #455a64   !important;
}

.timeline {
   background-color: rgba(255,255,255,0.8)  !important;
}

.timeline h2 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
   margin: 0px;
   background-color: rgba(0,0,0,0.4);
   background-image: url("image/quewer.png");
   background-position: center;
   background-repeat: repeat-y;
   background-attachment: fixed;
}

header {
   width: 100%;
   height: 100px;
   position: fixed; 
   top: 0;
}

header a {
   color: #d4d4d4;
   text-decoration: none;
}

header a:hover {
   color: white;
   text-decoration: none;
}

header img {
   width: 15%;
   height: 150px;
   margin-left: 2%;
   margin-top: -1.75%;
}

.login {
   float: right;
   margin-top: 1.5%;
   margin-right: 2%;
}

.login input[type="text"],.login input[type="password"] {
   width: auto;
   color: white;
   background-color: rgba(255, 255, 255, 0.3);
   padding: 8px 8px 8px 8px;
   margin: 8px 0;
}

.login .btn{
   border: none;
   margin-left: 10px;
   display: inline-block;
   height: 36px;
   line-height: 36px;
   padding: 0 1rem;
   text-transform: uppercase;
   vertical-align: middle;
   background-color: rgba(0, 0, 0, 0.2);
   color: white;
}
.btn:hover {
   background-color: rgba(0, 0, 0, 0.6);
   cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"] {
   font-family: Calibri;
   font-size: 14px;
   border-radius: 4px;
   padding: 10px 20px;
   margin: -11px 0;
   width: auto;
   margin-bottom: 5px;
   display: inline-block;
   border: 1px solid #ccc;
}

textarea {
    font-family: Calibri;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;  
    margin-bottom: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
}

button {
   width: auto;
   background-color: rgba(50,50,50,0.5);
   color: white;
   padding: 14px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   text-transform: uppercase;
   vertical-align: middle;   
}

button:hover {
    background-color: rgba(50,50,50,0.7);
}

.user {
   float: right;
   padding-right: 2%;
   padding-top: 2%;
}

.register {
   border-radius: 5px;
   margin-top: 10%;
}

.post {
   float: left;
   height: 20%;
   width: 100%;
   padding: 2%;
   margin-left: -10%;
   border-radius: 10px;
   margin-top: 2.5%;
}

.form-kiri{
   margin-top: 7.5%;
   float: left;
   width: 70%;
   margin-left: 5%;
   margin-right: 0;
}
.form-kanan {
   margin-top: 10%;
   float: right;
   width: 25%;
   right: 0%; 
   margin-left: -5%;
   border-radius: 10px;
   position: fixed;
}

.container {
   margin: 0 auto;
   max-width: 1280px;
   width: 85%; 
}

.name {
   text-transform: capitalize;
   font-weight: bold;
}

.name a:hover {
   text-decoration: underline;
}

.topic a {
   color: black;
   text-decoration: none;
}

.topic a:hover {
   text-decoration: underline;
}

.post-baru {
  margin-top: 10%;
  margin-left: center;
}

.title {
    color: #fff;
    font-size: 24px;
}

.form {
   margin-top: 10%;
   margin-bottom: 2.5%; 
   margin-left: 24%;
   color: black;
   background-color: rgba(255,255,255,0.8)  !important;
   padding: 20px;
   border-radius: 10px;
   width: 50%;
}

.form label {
   margin-top: 60px;
   margin-right: 10%;
}

.form select {
   border-radius: 4px;
   padding: 6px 10px;
   margin: -11px 0;
   margin-bottom: 5px;
   display: inline-block;
   border: 1px solid #ccc;
   font-size: 14px;
}

.form .kembali{
   width: 16.5%;
   padding: 14px 0;
   border: none;
   border-radius: 4px;
}

.form .kembali a {
   color: white;
   background-color: rgba(50,50,50,0.5);
   padding: 14px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   text-decoration: none;
   vertical-align: middle;      
}

.form .kembali a:hover {
    background-color: rgba(50,50,50,0.7);
}

span {
  padding-bottom: 20px;
  width: 100%;
}

span:hover {
  text-decoration: underline;
}

.br {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}

.form .kiri {
  width: 20%;
  float: left;
  padding-top: 5px;
}

.form .tengah {

  width: 2%;
  float: left;
  padding-top: 5px;
}

.form .kanan {
  width: 78%;
  float: left;
  padding-top: 5px;
}

hr { 
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 1), 0 0px 0px 0 rgba(0, 0, 0, 1);
}

.logout {
  top: -5; 
  position: relative;
}
.logout a {
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 10px;
  text-decoration: none;
  margin-top: -10%;
}

.logout a:hover {
  background-color: rgba(0, 0, 0, 1); 
  text-decoration: none;
}
