.biru {
   background-color: #2196f3 !important;
}

.text-putih {
  color: #FFFFFF !important;
}

body {
   margin: 0px;
   background-color: #e0e0e0;
}

header {
   width: 100%;
   height: 15vh;
   margin-bottom: 2%;
}

table{
    margin: 0 auto;
}

a.adminout{
    text-decoration: none;
    color: black;
    background: white;
    padding: 5px;
    border-radius: 20px;
}

.btn{
   height: 35px;
   border-radius: 5px;
}

.center{
    text-align: center;
}

input[type="text"],input[type="password"] {
   height: 30px;
   border-radius: 5px;
   padding: 0 10px;
   margin: 0 10px 10px 0;
}

.navadmin {
   text-align: center;
   padding-top: 15px;
}

.loginadmin{
    text-align: center;
    padding: 15px;
}

.loginadmin table{
    border: 10;
}
